body {
    background: url(../Assets/bg.svg);
    background-color: black;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }



  .btn{
    background: green;
    border: 2px solid white;
    color: white;
    border-radius: 20px;
  }
  h4{
    color: white;
  }

  h3{
    color: white;
    position: relative;
    top: 100px;

}

p{
    position: relative;
    top: 100px;
    color: white;
    font-weight: 400;
    padding-bottom: 100px;
}

a{
    text-decoration: none;
    color: rgb(238, 255, 238);
}
  
  .clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(0, 0, 0);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 12px solid white;
  }
  
  .hands {
    position: relative;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
  }
  
  .hour,
  .minute,
  .second {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    transform: rotate(0deg);
    transform-origin: bottom center;
    width: 4px;
    border-radius: 2px;
  }
  
  .hour {
    background: white;
    height: 50px;
    top: -20%;
  }
  
  .minute {
    background: purple;
    height: 90px;
    top: -36%;
  }
  
  .second {
    background: red;
    width: 2px;
    height: 80px;
    top: -32%;
  }
  
  .clock:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-45deg, #ffffff 0%, #ffffff) 100%;
    transform: translate3d(0px, 20px, 0) scale(1.2);
    filter: blur(40px);
    opacity: opacity 0.3s;
    border-radius: inherit;
    -webkit-animation: blobby 5s infinite ease;
    animation: blobby 5s infinite ease;
  }
  
  .clock:after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
  }
  
  @-webkit-keyframes blobby {
    0% {
      transform: translate3d(0px, 20px, 0) scale(1.2);
    }
    20% {
      transform: translate3d(0px, 10px, 0) scale(0.9) rotate(20deg);
    }
    50% {
      transform: translate3d(0px, 20px, 0) scale(1) rotate(0deg);
    }
    70% {
      transform: translate3d(0px, 10px, 0) scale(1.4) rotate(20deg);
    }
    0% {
      transform: translate(0px, 20px, 0) scale(1.2);
    }
  }
  
  /* Media query for mobile screens */
  @media (max-width: 600px) {

    h3{
        color: white;
        position: relative;
        top: 100px;
    }

    .time{
        position: relative;
        right: 100px;
        bottom: 30px;
      }

    h4{
        position: relative;
        bottom: 10px;
        color: white;
    }
    small{
        position: relative;
        bottom: 90px;
        color: white;
        }
    .formm form{
        display: none;
    }
    p{
        position: relative;
        top: 100px;
        color: white;
        font-weight: 400;
        padding-bottom: 100px;
    }


    a{
        text-decoration: none;
        color: rgb(0, 120, 6);
    }
    .clock {
      width: 150px;
      height: 150px;
      border: 9px solid white;
    }
    
    .hour {
      height: 25px;
      top: -15%;
    }
    
    .minute {
      height: 45px;
      top: -27%;
    }
    
    .second {
      height: 40px;
      top: -24%;
    }
  }
  

  @media (min-width:1200px) {
    .clock{
        position: relative;
        left: 300px;
        top: 250px;
    }

    small{
        position: relative;
        font-size: 19px;
        bottom: 100px;
        color: white;
    }

    .time{
        position: relative;
        right: 130px;
        top: 140px;
      }

    .formm > form{
        position: absolute;
        left: 60px;
        bottom: -5px;
    }
    body {
        background: url(../Assets/bg.svg);
        background-color: black;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
      }
      #text{
        border: 7px solid rgb(255, 255, 255);
      }
      .btn{
        background: green;
        border: 2px solid white;
        color: white;
        border-radius: 10px;
        width: 200px;
        height: 40px;
        position: relative;
        top: 30px;
      }
    
      h3{
        color: white;
        position: relative;
        top: 100px;
    
    }
    
    p{
        position: relative;
        top: 100px;
        color: white;
        font-weight: 400;
        padding-bottom: 100px;
    }
    
    a{
        text-decoration: none;
        color: rgb(238, 255, 238);
    }
      

      .hands {
        position: relative;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
      }
      
      .hour,
      .minute,
      .second {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        transform: rotate(0deg);
        transform-origin: bottom center;
        width: 4px;
        border-radius: 2px;
      }
      
      .hour {
        background: white;
        height: 50px;
        top: -20%;
      }
      
      .minute {
        background: purple;
        height: 90px;
        top: -36%;
      }
      
      .second {
        background: red;
        width: 2px;
        height: 80px;
        top: -32%;
      }
      
      .clock:before {
        content: "";
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(-45deg, #ffffff 0%, #ffffff) 100%;
        transform: translate3d(0px, 20px, 0) scale(1.2);
        filter: blur(40px);
        opacity: opacity 0.3s;
        border-radius: inherit;
        -webkit-animation: blobby 5s infinite ease;
        animation: blobby 5s infinite ease;
      }
      
      .clock:after {
        content: "";
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: inherit;
        border-radius: inherit;
      }
      
      @-webkit-keyframes blobby {
        0% {
          transform: translate3d(0px, 20px, 0) scale(1.2);
        }
        20% {
          transform: translate3d(0px, 10px, 0) scale(0.9) rotate(20deg);
        }
        50% {
          transform: translate3d(0px, 20px, 0) scale(1) rotate(0deg);
        }
        70% {
          transform: translate3d(0px, 10px, 0) scale(1.4) rotate(20deg);
        }
        0% {
          transform: translate(0px, 20px, 0) scale(1.2);
        }
      }
  }